@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

/* GLOBAL */


/* /\ VARIABLES /\ */
:root{
    --white: #f9f2f2;
    --black: #111212;
    --grey: #8A9886;
    --green: #60AD69;
}

/* /\ VARIABLES /\ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--white);
    font-family: 'Hind', sans-serif;
}

/* GLOBAL */

/* TITLES */

h1{
    color: var(--green);
    text-decoration: double;
}

/* TITLES */

/* MENU */

#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#menu a{
    color: var(--black);
    text-decoration: none;
    font-weight: 800;
    margin: 20px;
}

a img{
    width: 100px;
    height: 100px;
}

/* MENU */
